body {
    width: 600px;
    height: 300px;
    padding: 5px;
    margin: 5px;
}


h2 {
    color: blueviolet;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 5px;

}
